.header__square-pic {
  height: 568px;
  width: 568px;
  z-index: 1;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
/* Применение анимации к элементу */

  animation: rotation 20s infinite linear; /* Название анимации, продолжительность 20 секунд, бесконечное повторение */
}
