.table__theme_dark {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  z-index: 2;
  color: white;
  padding-left: 0;
  padding: 0;


}