.cards_image {
  margin: 60px auto 43px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%; /* Задает радиус, чтобы обрезать изображение в форме круга */
  width: 200px; /* Задайте желаемую ширину и высоту для обрезанной картинки */
  height: 200px;
}