.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0 auto;
}

.header {
  display: flex;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: rgb(242, 242, 242);
}

.logo {

  background-image: url(../images/logo_place_header.svg);
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: auto 0 auto 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 3;

}

.header__subtitle {
  width: 360px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 756px;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  z-index: -2;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Применение анимации к элементу */

.header__square-pic {
  animation: rotation 20s infinite linear; /* Название анимации, продолжительность 20 секунд, бесконечное повторение */
}

.description {
  margin: 0;
  padding-top: 100px;

}

.two-columns {
  display: flex;
  margin: 0 auto 0 auto;
  width: 80%;
  justify-content: space-between;
  

}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
}


.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin: 0 0 30px 0;
  padding: 0;
}

.two-columns__paragraph:last-child {
  margin: 0;

}

.digits {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: white;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px 0;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}


.table {
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 60px 0 0 0;
  margin: 0 0 100px 0;
  list-style-type: none;

}

.table__cell {
  width: 250px;
  margin: 0 0 60px 0;
  padding: 0;
}

.table__cell:nth-last-child(-n+4) {
  margin: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  padding: 0;
  margin: 20px 0 20px 0;
}

.table__text:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.feynman {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 900px;
  background-color: rgb(242, 242, 242);
}

.feynman__title {
  text-align: center;
  width: 648px;
  margin: 0 auto 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
  padding-top: 100px;

}

.feynman__subtitle {
  display: flex;
  margin: 70px auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;

}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;

}

.feynman__photo {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

}


.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 90px 0;
  background-color: rgb(31, 31, 31);
  position: relative;
  overflow: hidden;

}

.section-title_theme_dark {
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: white;
  z-index: 2;

}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 0 auto 80px auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: white;
  z-index: 2;
}

.table__theme_dark {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  z-index: 2;
  color: white;
  padding-left: 0;
  padding: 0;


}

.table__cell_theme_dark {

  width: 200px;
  margin-bottom: 80px;

}

.table__heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;


}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  margin-top: -90px;
  animation: rotation 20s infinite linear;
  background-size: cover;


}

.footer {

  display: flex;
  padding: 60px 0 40px 0;
  background-color: black;
  color: white;
  min-height: 350px;
  background-color: rgb(31, 31, 31);
  box-sizing: border-box;
  justify-content: center;

}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0;
  margin: 0;

}

.logo_place_footer {
  width: 228px;
  height: 32px;
  padding: 0;
  margin: 0;
  background-image: url(../images/logo_place_footer.svg);
}


.footer__column_content_copyright {

  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  position: relative;

}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}


.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;

}



.footer__column-links {

  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;
}


.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;

}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer_social-icon {
  padding-right: 10px;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}







.techniques {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 100px 0 0 0;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  width: 920px;

  flex-flow: row wrap;
  list-style-type: none;
  
  margin: 0;
  padding: 0;

}




.cards__item {
  
  flex-direction: column;
 width: 240px;

  text-align: center;
  margin-right: 100px;
  justify-content: center; 

}
  


.cards__item:nth-child(3) {
  margin: 0; /* Убираем маргин (внешние отступы) у третьей ячейки */
}

.cards_image {
  margin: 60px auto 43px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%; /* Задает радиус, чтобы обрезать изображение в форме круга */
  width: 200px; /* Задайте желаемую ширину и высоту для обрезанной картинки */
  height: 200px;
}

.cards__title {
  margin:0 auto 16px auto;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__desription {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin:0 auto 0 auto;

}

.video {
  margin: 0 auto;
  display: flex;
  padding: 100px 0 0 0;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
padding-top: 50px;
display: flex;
justify-content: space-between;
gap: 20px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-bottom: -50px;
  }


.oakley {
  background-color: rgb(242, 242, 242);
  padding-top: 160px;
}

.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 217px;
  margin: 0 auto;
}

.resources__logo-zone {
margin: 80px auto 0 auto;
}

.resources__logo {
  width: 270px;
  height: 38px;
  margin: 0;
}

.resources__link {
text-decoration: none;
}

.khan {
  
  padding: 105px 0 0 0;
  background-color: rgb(242, 242, 242);
  
}

.khan__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  width: 790px;
  margin:50px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 36px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 10px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin: 68px 0 0 0;
  height: 608px;
  display: flex;
}

.khan__book-pic {
  width: 620px;

  margin: 0 48px -60px 0;
  
}

.khan__buy-link {
  
  text-decoration: none;
  line-height: 24px;
  font-size: 30px;
  font-weight: normal;
}